$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$mainFontFamily: "DotGothic16", sans-serif;
$mainFontSize: 22px;
$mainLineHeight: 1;

$mainWhiteColor: #f0f8ff;
$mainOrangeColor: #ef5350;

