.card {
  width: 265px;
  padding: 20px;
  display: block;
  color: $mainWhiteColor;
  background: rgba($mainWhiteColor, 0.5);
  border-radius: 20px;
  margin-bottom: 30px;


  &__name {
    text-align: center;
    text-transform: capitalize;
  }

  &__img {
    width: 100%;
  }
}